<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Get It Done
            <br />
            With Us Today
        </h2>
        <p>
        Take the first step towards your dream home—reach out to a mortgage broker today and unlock the door to your future. Your journey to homeownership starts with a simple conversation.
        </p>
        <a href="/contact" class="cs-button-solid">Contact Us</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/melbourne.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/melbourne.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/melbourne.jpg" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
    </picture>

</section>