<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1761">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <img class="cs-logomark" src="/assets/images/mfaa.jpg" alt="mfaa" loading="lazy" decoding="async" height="100" width="122">
            <h2 class="cs-title">Licensed & <br>Accredited</h2>
            <span class="cs-outline">MFAA Full Member</span>
        </div>
        <div class="cs-ul-wrapper">
            <!-- Contact Info -->
            <img class="cs-logo" src="/assets/images/website.jpg" alt="logo" loading="lazy" decoding="async" height="48" width="217">
            <p class="cs-text">Welcome to Melcity! We offer the best motrgage service in Melbourne! </p>
            <ul class="cs-ul cs-ul-contact">
                <li class="cs-li">
                    <span class="cs-topper">Call us today</span>
                    <a class="cs-contact" href="tel:+61457020585">0457 020 585</a>
                </li>
                <li class="cs-li">
                    <span class="cs-topper">Business Hours</span>
                    <p class="cs-text">Monday - Saturday: 9:00 AM-8:00 PM</p>
                    <P class="cs-text">Sunday: Closed</P>
                </li>
            </ul>
        </div>
        <!-- Links -->
        <div class="cs-ul-wrapper">
            <h3 class="cs-topper">Quick Links</h3>
            <br>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="/about">About Us</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/services/home-loan">Services</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/contact">Contact</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/blog">Blog</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/terms">Terms & Conditions</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/policy">Privacy Policy</a>
                </li>
                <br>
                <div class="cs-contact-li cs-social-group">
                    <div class="cs-social">
                        <a class="cs-social-link" aria-label="visit Linkedin profile" href="https://www.linkedin.com/in/eva-chang-6ab9b41b3/">
                            <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Social/google.svg" alt="google" width="11" height="11">
                        </a>
                        <a class="cs-social-link" aria-label="visit facebook profile" href="https://www.facebook.com/melcityfinance/?eid=ARA1dP14932ZBfPcHF5kV8qb9rBQPvJiVQwLOqoLGJbIntTNydSYW-PxOH9HiFLugO-Lite1SIeHIq0g">
                            <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Social/Facebook.svg" alt="facebook" width="6" height="11">
                        </a>
                        <a class="cs-social-link" aria-label="visit instagram profile" href="https://www.instagram.com/eva.chang32">
                            <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Social/instagram.svg" alt="instagram" width="11" height="11">
                        </a>
                    </div>
                </div>
            </ul>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
            © Copyright 2024 <p class="cs-credit-link" target="_blank">puppet077</p>
        </span>
        <span class="cs-credit">
            Melcity Financial Pty Ltd ABN: 39 642 690 855 I Credit Representative Number 524623 is authorised under Australian Credit Licence 384704
        </span>
    </div>
</footer>
                                