---
title: 'Blog'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'blog/'
eleventyNavigation:
    key: Blog
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/blog.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Blog</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>
<!-- ============================================ -->
<!--                   Blog                       -->
<!-- ============================================ -->

<section id="blog-846">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Blog</span>
            <h2 class="cs-title">Latest News & Articles</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy2.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy2.jpg" alt="therapy" width="369" height="290">
                </picture>
                <div class="cs-item-content">
                    <span class="cs-date">07 Sep, 2022</span>
                    <h3 class="cs-h3">How Physical Therapy Can Help You Recover from Surgery</h3>
                    <p class="cs-item-text">
                        Physical therapy is often an important part of the recovery process for patients who have undergone surgery.
                    </p>
                    <a href="" class="cs-link">
                        Read More
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Forange-carrot-right.svg" alt="arrow right" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy3.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy3.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy3.jpg" alt="therapy" width="369" height="290">
                </picture>
                <div class="cs-item-content">
                    <span class="cs-date">07 Sep, 2022</span>
                    <h3 class="cs-h3">How Physical Therapy Can Help You Recover from Surgery</h3>
                    <p class="cs-item-text">
                        Physical therapy is often an important part of the recovery process for patients who have undergone surgery.
                    </p>
                    <a href="" class="cs-link">
                        Read More
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Forange-carrot-right.svg" alt="arrow right" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg" alt="therapy" width="369" height="290">
                </picture>
                <div class="cs-item-content">
                    <span class="cs-date">07 Sep, 2022</span>
                    <h3 class="cs-h3">How Physical Therapy Can Help You Recover from Surgery</h3>
                    <p class="cs-item-text">
                        Physical therapy is often an important part of the recovery process for patients who have undergone surgery.
                    </p>
                    <a href="" class="cs-link">
                        Read More
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Forange-carrot-right.svg" alt="arrow right" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg" alt="therapy" width="369" height="290">
                </picture>
                <div class="cs-item-content">
                    <span class="cs-date">07 Sep, 2022</span>
                    <h3 class="cs-h3">How Physical Therapy Can Help You Recover from Surgery</h3>
                    <p class="cs-item-text">
                        Physical therapy is often an important part of the recovery process for patients who have undergone surgery.
                    </p>
                    <a href="" class="cs-link">
                        Read More
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Forange-carrot-right.svg" alt="arrow right" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </a>
                </div>
            </li>
        </ul>
        <a href="" class="cs-button-solid">View All News</a>
    </div>
</section>
                                
        {% include 'components/featured-post.html' %}

{% endblock %}