---
title: 'Contact'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'contact/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q0CGQ3BN9Q"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-Q0CGQ3BN9Q');
    </script>
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Contact Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="cs-contact-240">
        <div class="cs-container">
            <div class="cs-left-section">
                <div class="cs-content">
                    <span class="cs-topper">Contact</span>
                    <h2 class="cs-title">Send us a message</h2>
                    <p class="cs-text">
                        We are a team of passionate and reliables professionals who are here to help you with your financial needs. Please feel free to contact us with any questions or concerns you may have.
                    </p>
                </div>
                <form id="cs-form-240" name="contact" netlify-honeypot="bot-field" data-netlify="true" data-netlify-recaptcha="true">
                    <label class="cs-label">
                        Name
                        <input class="cs-input" required type="text" id="name-240" name="name" placeholder="Name">
                    </label>
                    <label class="cs-label">
                        Email
                        <input class="cs-input" required type="text" id="email-240" name="email" placeholder="Email">
                    </label>
                    <label class="cs-label">
                        Phone
                        <input class="cs-input" required type="text" id="phone-240" name="phone" placeholder="Phone">
                    </label>
                    <label class="cs-label">
                        Which product are you interested in
                        <select class="cs-input"  id="product" name="mortgage product">
                            <option value="Home Loan" selected>Home Loan</option>
                            <option value="Commercial Loan">Commercial Loan</option>
                            <option value="Personal Loan">Personal loan</option>
                        </select>
                    </label>
                    <label class="cs-label cs-label-message">
                        Message
                        <textarea class="cs-input cs-textarea" required name="Message" id="message-240" placeholder="Write message..."></textarea>
                    </label>
                    <br>
                        <div data-netlify-recaptcha="true">
                        </div>
                    <br>
                    <button class="cs-button-solid cs-submit" type="submit">Submit Message Now</button>
                </form>
            </div>
            <div class="cs-right-section">
                <ul class="cs-ul">
                    <li class="cs-li">
                        <picture class="cs-icon-wrapper">
                            <img aria-hidden="true" src="/assets/svgs/email.svg" alt="mail icon" class="cs-icon" width="36" height="36" decoding="async">
                        </picture>
                        <div class="cs-flex-group">
                            <span class="cs-header">Email</span>
                            <a href="mailto:support@yourdomain.com" class="cs-link">eva.chang@melcityfinance.com.au</a>
                        </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-icon-wrapper">
                            <img aria-hidden="true" src="/assets/svgs/phone.svg" alt="phone icon" class="cs-icon" width="36" height="36" decoding="async">
                        </picture>
                        <div class="cs-flex-group">
                            <span class="cs-header">Phone</span>
                            <a href="tel:0457020585" class="cs-link">0457020585</a>
                        </div>
                    </li>
                    <li class="cs-li">
                            <picture class="cs-icon-wrapper">
                                <img aria-hidden="true" src="/assets/svgs/tablet.svg" alt="phone icon" class="cs-icon" width="36" height="36" decoding="async">
                            </picture>
                            <div class="cs-flex-group">
                                <span class="cs-header">Wechat</span>
                                <picture class="cs-wechat">
                                    <img decoding="async" width="150" height="150" src="/assets/images/wechat.jpg" >
                                </picture>
                            </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-icon-wrapper">
                            <img aria-hidden="true" src="/assets/svgs/time.svg" alt="address icon" class="cs-icon" width="36" height="36" decoding="async">
                        </picture>
                        <div class="cs-flex-group">
                            <span class="cs-header">Business Hours</span>
                            <p class="daytext">Monday - Saturday 9:00 AM - 8:00 PM</p>
                            <p class="daytext">Sunday: Closed</p>
                        </div>
                    </li>
                </ul>
                    <li class="cs-li">
                        <picture class="cs-icon-wrapper">
                            <img aria-hidden="true" src="/assets/svgs/location.svg" alt="address icon" class="cs-icon" width="36" height="36" decoding="async">
                        </picture>
                        <div class="cs-flex-group">
                            <span class="cs-header">Address</span>
                            <a href="" class="cs-link">Suite 118, 139 Cardigan St, Carlton VIC 3053</a>
                        </div>
                    </li>
                </ul>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.4309988678747!2d144.9622299769915!3d-37.80337253344618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642d271aae4ff%3A0xe4f63f77ecd9a37a!2sSuite%20118%2F139%20Cardigan%20St%2C%20Carlton%20VIC%203053!5e0!3m2!1sen!2sau!4v1716896488794!5m2!1sen!2sau" width="462" height="438" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>
                                
{% endblock %}