---
title: 'Contact'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'contact/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Contact Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="cs-contact-240">
        <div class="cs-container">
            <div class="cs-left-section">
                <div class="cs-content">
                    <span class="cs-topper">Contact</span>
                    <h2 class="cs-title">Get in Touch</h2>
                    <p class="cs-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ridiculus elementum ullamcorper ipsum porttitor aliquam. Id magna urna ultrices odio pulvinar. Sed ut.
                    </p>
                </div>
                <form id="cs-form-240" name="Contact Form" method="post">
                    <label class="cs-label">
                        Name
                        <input class="cs-input" required type="text" id="name-240" name="name" placeholder="Name">
                    </label>
                    <label class="cs-label">
                        Email
                        <input class="cs-input" required type="text" id="email-240" name="email" placeholder="Email">
                    </label>
                    <label class="cs-label">
                        Phone
                        <input class="cs-input" required type="text" id="phone-240" name="phone" placeholder="Phone">
                    </label>
                    <label class="cs-label">
                        How Did You Find Us
                        <input class="cs-input" type="text" id="find-240" name="find-us" placeholder="How did you find us?">
                    </label>
                    <label class="cs-label cs-label-message">
                        Message
                        <textarea class="cs-input cs-textarea" required name="Message" id="message-240" placeholder="Write message..."></textarea>
                    </label>
                    <button class="cs-button-solid cs-submit" type="submit">Submit Message Now</button>
                </form>
            </div>
            <div class="cs-right-section">
                <ul class="cs-ul">
                    <li class="cs-li">
                        <picture class="cs-icon-wrapper">
                            <img aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/mail.svg" alt="mail icon" class="cs-icon" width="36" height="36" decoding="async">
                        </picture>
                        <div class="cs-flex-group">
                            <span class="cs-header">Email</span>
                            <a href="mailto:support@yourdomain.com" class="cs-link">eva.chang@melcityfinance.com.au</a>
                        </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-icon-wrapper">
                            <img aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/phone.svg" alt="phone icon" class="cs-icon" width="36" height="36" decoding="async">
                        </picture>
                        <div class="cs-flex-group">
                            <span class="cs-header">Phone</span>
                            <a href="tel:0457020585" class="cs-link">0457020585</a>
                        </div>
                    </li>
                    <li class="cs-li">
                            <picture class="cs-icon-wrapper">
                                <img aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/phone.svg" alt="phone icon" class="cs-icon" width="36" height="36" decoding="async">
                            </picture>
                            <div class="cs-flex-group">
                                <span class="cs-header">Wechat</span>
                                <picture class="cs-picture">
                                    <img decoding="async" width="150" height="150" src="/assets/images/wechat.jpg" >
                                </picture>
                            </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-icon-wrapper">
                            <img aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/pin.svg" alt="address icon" class="cs-icon" width="36" height="36" decoding="async">
                        </picture>
                        <div class="cs-flex-group">
                            <span class="cs-header">Business Hours</span>
                            <p>Monday - Saturday 9:00 AM - 8:00 PM</p>
                            <p> Sunday: Closed</p>
                        </div>
                    </li>
                </ul>
                    <li class="cs-li">
                        <picture class="cs-icon-wrapper">
                            <img aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/pin.svg" alt="address icon" class="cs-icon" width="36" height="36" decoding="async">
                        </picture>
                        <div class="cs-flex-group">
                            <span class="cs-header">Address</span>
                            <a href="" class="cs-link">2553 Woodbridge Lane, Bouston Ware 120</a>
                        </div>
                    </li>
                </ul>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/map-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/map.jpg">
                    <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/map.jpg" alt="google map" width="462" height="438">
                </picture>
            </div>
        </div>
    </section>
                                
{% endblock %}