---
title: 'Policy"'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'policy/'
eleventyNavigation:
    key: Policy
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TYERHB9SK7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-TYERHB9SK7');
    </script>
    <link rel="stylesheet" href="/assets/css/policy.css">
{% endblock %}

{% block body %}
<section id="policy">
    <div class="container">
        <br>
        <h1>Privacy Policy</h1>
        <p>Melcity Finance is committed to supporting the Australian Privacy Principles and we have established this page to ensure that you are fully protected under Australian privacy laws. Melcity Finance assures the confidentiality of your private information provided to us in the due course of visiting our website, accepting any services or products offered through Melcity Finance or participating in any Melcity Finance promotions.</p>
        <p>By registering with us, you consent to the collection, use and disclosure of your personal information, however only in accordance with the Australian Privacy Principles. We reserve the right to modify or remove portions of this Privacy Policy at any time. The Privacy Policy is different from other terms and conditions relevant to our web site. <a href="http://www.melcityfinance.com.au">www.melcityfinance.com.au</a> acknowledges and respects the privacy of people and understands the importance of protecting the personal information of our visitors especially that is capable of identifying an individual. We encourage you to check our website regularly for any updates to our Privacy Policy. This policy is current as at 1st August 2020.</p>
        
        <h2>Our commitment to protecting your privacy</h2>
        <p>We understand how important it is to protect your personal information. This document sets out our privacy policy commitment in respect of personal information we hold about you and what we do with that information. It also includes our policy on the handling of credit reports and other credit information.</p>
        <p>During your relationship with us, we may tell you more about how we handle your personal information in application forms or terms and conditions, for example. You should read these documents carefully.</p>
        <p>We recognise that any personal information we collect about you will only be used for the purposes we have collected it or as allowed by law. It is important to us that you are confident that any personal information we hold about you will be treated in a way that ensures the protection of your personal information.</p>
        <p>Our commitment in respect of personal information is to abide by the Australian Privacy Principles for the protection of personal information, as set out in the Privacy Act 1988 and any other relevant laws.</p>
        
        <h2>Personal information</h2>
        <p>When we refer to the personal information we mean information from which your identity is reasonably apparent. This information may include information or an opinion about you. The kinds of personal information we may collect about you include your name, date of birth, address, email address, phone number, account details, occupation, transaction history and any other information we made need to identify you. If you are applying for finance we may also collect the ages and number of your dependants and cohabitants, the length of time at your current address, your employment details and proof of earnings and expenses, and your Tax File Number or tax residency status. When you visit our websites or use our mobile apps, we collect your location information, IP address, mobile device and network information and any third party sites you access. For more information on how we do this, see the heading &lsquo;Cookies&rsquo; below.</p>
        <p>The personal information we collect and hold about you may include credit information. Credit information is information which is used to assess your eligibility to be provided with finance and may include any finance that you have outstanding, your repayment history in respect of those loans, and any defaults. Usually, credit information is exchanged between credit and finance providers and credit reporting bodies.If you want to make purchases from or through us we will also collect your payment information. We will also collect this information if we need to make payments to you. If you apply for employment with us we will collect information about your work history and ask your referees about you.</p>
        
        <h2>why we collect your personal information</h2>
        <p>If you apply for finance with us, we collect personal information for the purposes of assessing your application and managing that finance (including designing and pricing our products). We may also collect your personal information for the purposes of direct marketing and managing our relationship with you. From time to time we may offer you other products and services.</p>
        <p>If you apply to become a finance broker with us or apply for employment with us, we will collect information about you to assist us to decide whether to appoint you and to manage that relationship, including to offer other services and products to you.</p>
        
        <h2>We collect payment information in order to process your payments.</h2>
        <p>We also collect your personal information (including credit information) to minimise risks and identify or investigate fraud and other illegal activities and to comply with laws and assist government or law enforcement agencies.</p>
        <p>To enable us to maintain a successful business relationship with you, we may disclose your personal information to other organisations that provide products or services used or marketed by us. See the heading &lsquo;Do we disclose your personal information?&rsquo; below for further information.</p>
        
        <h2>How do we collect your personal information?</h2>
        <p>Where reasonable and practical we will collect your personal information directly from you. We may also collect your personal information from credit reporting bodies, finance brokers and other people such as accountants, lawyers and referees.</p>

        <h2>Do we disclose your personal information?</h2>
        <p>We may disclose your personal information:</p>
        <ul>
            <li>to existing or prospective funders or other intermediaries in relation to your finance requirements;</li>
            <li>to guarantors and other security providers;</li>
            <li>to other organisations that are involved in managing or administering your finance such as valuers, surveyors, third party suppliers, printing and postal services, call centres, lenders mortgage insurers, trade insurers, recovery firms, debt collectors, lawyers and credit reporting bodies;</li>
            <li>to businesses we have a relationship with that may want to market products to you;</li>
            <li>to companies that provide information and infrastructure systems to us;</li>
            <li>to anybody who represents you, such as finance brokers, lawyers and accountants;</li>
            <li>to anyone, where you have provided us consent;</li>
            <li>where we are required to do so by law, such as under the Anti-Money Laundering and Counter-Terrorism Financing Act 2006 or in accordance with a subpoena or summons issued by a court;</li>
            <li>to organisations involved in our funding arrangements such as trustees, warehouse funders, investors, rating agencies, agents, auditors or advisers, or any entity that has an interest in our business; or</li>
            <li>to your current or previous employer, referees or identity verification services.</li>
        </ul>
        <p>Prior to disclosing any of your personal information to another person or organisation, we will take all reasonable steps to satisfy ourselves that:</p>
        <ol>
            <li>the person or organisation has a commitment to protecting your personal information at least equal to our commitment, or</li>
            <li>you have consented to us making the disclosure.</li>
        </ol>
        <p>We use cloud storage to store the personal information that we hold. The cloud storage and the IT servers may be located outside Australia.</p>
        <p>We may disclose your personal information to overseas entities that provide support functions to us (including in USA, Canada, Malaysia, India, Ireland, the United Kingdom and the Philippines). You may obtain more information about these entities by contacting us.</p>
        <p>New technologies and data analytic software allows us to combine information we have about you and our other customers, with data sources, such as third-party websites or the Australian Bureau of Statistics. We are able to analyse this data to learn more about you and other customers, and how to improve our products and service we provide to you. We may use this combined data to help other businesses better understand their customers, however, we will not provide any personal information about you unless we are legally required to.</p>
        
        <h2>Credit information</h2>
        <p>If you ask us for credit or choose to be a guarantor, we may collect the following kinds of credit information and exchange this information with credit reporting bodies and other entities:</p>
        <ul>
            <li>Your identity information;</li>
            <li>Credit liability information being information about your existing finance which includes the name of the credit provider, whether the credit provider holds an Australian Credit Licence, the type of finance, the day the finance is entered into, the terms and conditions of the finance, the maximum amount of finance available, and the day on which the finance was terminated;</li>
            <li>Repayment history information which is information about whether you meet your repayments on time;</li>
            <li>Information about the type of finance that you are applying for;</li>
            <li>Default and payment information;</li>
            <li>If you have committed fraud or another serious credit infringement; and</li>
            <li>Court proceedings information.</li>
        </ul>
        <p>We exchange this credit information for the purposes of assessing your application for finance and managing that finance. We also share your credit information with credit reporting bodies so they can provide credit reports to others.</p>
        <p>This credit information may be held by us in electronic form on our secure servers and may also be held in paper form. We may use cloud storage to store the credit information we hold about you.</p>
        <p>The credit reporting bodies we use are Equifax Pty Ltd, Experian Australia Credit Services Pty Ltd and Illion Australia Pty Ltd. You can download a copy of their privacy policies at equifax.com.au; experian.com.au; or illion.com.au.</p>
        
        <h2>Notifiable matters</h2>
        <p>The law requires us to advise you of &lsquo;notifiable matters&rsquo; in relation to how we may use your credit information. You may request to have these notifiable matters (and this privacy policy) provided to you in an alternative form.</p>
        <p>We exchange your credit information with credit reporting bodies. We use the credit information that we exchange with the credit reporting body to assess your creditworthiness, assess your application for finance and manage your finance.</p>
        <p>If you fail to meet your payment obligations in relation to any finance that we have provided or arranged or you have committed a serious credit infringement then we may disclose this information to a credit reporting body.</p>
        <p>You have the right to request access to the credit information that we hold about you and make a request for us to correct that credit information if needed. Please see the heading &lsquo;Access and correction to your personal and credit information&rsquo; below.</p>
        <p>Sometimes your credit information will be used by credit reporting bodies for the purposes of &lsquo;pre-screening&rsquo; credit offers on the request of other credit providers. You can contact the credit reporting body at any time to request that your credit information is not used in this way.</p>
        <p>You may contact the credit reporting body to advise them that you believe that you may have been a victim of fraud. For a period of 21 days after the credit reporting body receives your notification the credit reporting body must not use or disclose that credit information. You can contact any of the following credit reporting bodies for more information:</p>
        <ul>
            <li>equifax.com.au,</li>
            <li>illion.com.au, or</li>
            <li>experian.com.au</li>
        </ul>
        <h2>Notifiable data breaches</h2>
        <p>From February 2018, the Privacy Act 1988 includes a new Notifiable Data Breaches (&lsquo;NDB&rsquo;) scheme which requires us to notify you and the Office of the Australian Information Commissioner (&lsquo;OAIC&rsquo;) of certain data breaches and recommend steps you can take to limit the impacts of a breach (for example, a password change).</p>
        <p>The NDB scheme requires us to notify about a data breach that is likely to result in serious harm to affected individuals. There are exceptions where notification is not required. For example, where we have already taken appropriate remedial action that removes the risk of serious harm to any individuals.</p>
        <p>If we believe there has been a data breach that impacts your personal information and creates a likely risk of serious harm, we will notify you and the OAIC as soon as practicable and keep in close contact with you about the nature of the breach, the steps we are taking and what you can do to reduce the impacts to your privacy. If you believe that any personal information we hold about you has been impacted by a data breach, you can contact us.</p>
        
        <h2>Direct marketing</h2>
        <p>From time to time we may use your personal information to provide you with current information about finance offers you may find of interest, changes to our organisation, or new products or services being offered by us or any company with whom we are associated.</p>
        <p>If you do not wish to receive marketing information, you may at any time decline to receive such information by emailing us. If direct marketing is by email you may also use the unsubscribe function. We will not charge you for giving effect to your request and will take all reasonable steps to meet your request within a reasonable timeframe.</p>
        
        <h2>Updating your personal information</h2>
        <p>It is important to us that the personal information we hold about you, such as a current home address, email address and phone number, is accurate and up to date. During the course of our relationship with you, we may ask you to inform us if any of your personal information has changed.</p>
        <p>If you wish to make any changes to your personal information, you may contact us. We will generally rely on you to ensure the information we hold about you is accurate and complete.</p>
        
        <h2>Access and correction to your personal and credit information</h2>
        <p>We will provide you with access to the personal and credit information we hold about you. You may request access to any of the personal information we hold about you at any time.</p>
        <p>We may charge a fee for our costs of retrieving and supplying the information to you. We will provide an estimate of this cost so you can decide whether you would like to proceed.</p>
        <p>We aim to respond within 30 days of receiving your request. We may need to contact other entities to properly investigate your request.</p>
        <p>There may be situations where we are not required to provide you with access to your personal information, for example, if the information is commercially sensitive or relates to existing or anticipated legal proceedings, or if your request is vexatious.</p>
        <p>An explanation will be provided to you if we deny you access to the personal information we hold about you.</p>
        <p>If any of the personal information we hold about you (including credit information) is incorrect, inaccurate or out of date you may request that we correct the information. If appropriate we will correct the personal information. We will not charge you a fee to correct your personal information. We aim to provide you with details about whether we have corrected the personal information within 30 days of receiving your request.</p>
        <p>We may need to consult with other entities as part of our investigation.</p>
        <p>If we refuse to correct the personal information we will provide you with our reasons for not correcting the information.</p>
        
        <h2>Using government identifiers</h2>
        <p>When we collect government identifiers, such as your tax file number, we do not use or disclose this information other than as required by law. We will never use a government identifier to identify you.</p>
        
        <h2>Business without identifying you</h2>
        <p>In most circumstances it will be necessary for us to identify you in order to successfully do business with you, however, where it is lawful and practicable to do so, we will offer you the opportunity of doing business with us without providing us with personal information, for example, if you make general inquiries about interest rates or current promotional offers.</p>
        
        <h2>Sensitive information</h2>
        <p>We will only collect sensitive information about you with your consent except where otherwise allowed by law. Sensitive information is personal information that includes information relating to your racial or ethnic origin, political persuasion, memberships in trade or professional associations or trade unions, sexual preferences, criminal record, or health or biometrics (for example, your fingerprints).</p>
        
        <h2>how safe and secure is your personal information that we hold?</h2>
        <p>We will take reasonable steps to protect your personal information by storing it in a secure environment. We may store your personal information in paper and electronic form. We will also take reasonable steps to protect any personal information from misuse, loss and unauthorised access, modification or disclosure.</p>
        
        <h2>Complaints</h2>
        <p>If you are dissatisfied with how we have dealt with your personal information, or you have a complaint about our compliance with the Privacy Act, you may contact us. We will acknowledge your complaint within seven days. We aim to provide you with a decision on your complaint within 30 days. We will let you know if we will take longer than 30 days and the relevant extension of time we will require to complete the complaints process.</p>
        <p>If you are dissatisfied with our response after you have been through the internal complaints process, you may make a complaint to our External Dispute Resolution Scheme, the Australian Financial Complaints Authority (AFCA) which can be contacted on either www.afca.org.au or 1800 931 678 (free call); or the Office of the Australian Information Commissioner (OAIC) which can be contacted on either www.oaic.gov.au or 1300 363 992.</p>

        <h2>Cookies</h2>
        <p>The information that we collect from you when you interact with us online depends on the tasks you complete on this website. When you visit and browse through the website, we collect general information that is not capable of identifying you for statistical and maintenance purposes that enables us to continually evaluate the performance of this website. This general information includes the number of users visiting this website and the number of pages viewed as well as the path taken through this website.</p>
        <p>This information is used to generate aggregated, anonymous information about how you and other users use this website and its features. For instance, we collect information about which pages on this website you visit most often, if you open or read the communications we send, which advertisements you view or interact with on this website or other websites on which our advertisements appear, and if you receive any error messages. The information collected may be used to improve users&rsquo; online experience generally, to collate statistics, or customise your online experience by showing you content we think you will like. We do not collect information that identifies you personally; however, if you have a registration account with us, the information collected by us using the cookies may be associated with your registration account.</p>
        <p>We also may allow third-party advertisers to place their cookies on your device through their advertisements on this website. The information these third-party cookies collect is used to determine which third-party advertisements to display on this website, how often to display them, and in which locations of this websites the third-party advertisements perform best. These third-party cookies do not collect information that identifies you personally.</p>
        <p>Any information, which is not capable of identifying you, is collected through code embedded in the webpages of this website. You cannot disable the code on these pages.</p>
        <p>Other information, such as browser type, is included in a &lsquo;cookie&rsquo; that is sent to your computer when you are completing certain tasks on this website. A cookie contains bits of information that enables our servers (i.e. the computers that house this website) to identify and interact efficiently with your computer. Cookies are designed to provide a better, more customised website experience, and to make it easier for you to use this website.</p>
        <p>You can configure your browser to either accept all cookies, reject all cookies or to notify you when a cookie is being sent to your computer. The &lsquo;help function&rsquo; on your browser will provide you with details on how to change your browser configurations. You will need to accept cookies in order to use some functionality on this website. If you do not wish to receive any cookies you may set your browser to refuse them. However, your use of our website may be affected.</p>
        
        <h2>Further information</h2>
        <p>You may request further information about the way we manage your personal or credit information by contacting us.</p>
        
        <h2>Change in our privacy policy</h2>
        <p>We are constantly reviewing all of our policies and attempt to keep up to date with market expectations. Technology is constantly changing, as is the law and market place practices.</p>
        <p>As a consequence, we may change this privacy policy from time to time or as the need arises.</p>
        <p>You may request this privacy policy in an alternative form.</p>
        <p>This Privacy Policy was last updated on 1 August 2020.</p>
        
        <h2>How to contact us?</h2>
        <p>If you have any concerns, you may feel free to contact us.</p>
        <p>Melcity Finance&nbsp;<br /><br /></p>
        <p>Mob: 0457 020 585</p>
        <p>Email: eva.chang@melcityfinance.com.au</p>


    </div>
</section>
{% endblock %}