---
title: 'Terms & Conditions"'
description: 'Meta description for the page'
permalink: 'terms/'
eleventyNavigation:
    key: Terms
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TYERHB9SK7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-TYERHB9SK7');
    </script>
    <link rel="stylesheet" href="/assets/css/terms.css">
{% endblock %}

{% block body %}
<section id="terms">
    <div class="container">
    <h2>Website Terms And Conditions Of Use</h2>
    <p>by visiting this website and accessing the information, graphics and contents, you are agreeing to comply with the terms and conditions provided in this legal document. it is very important for a visitor to abide by the terms and conditions listed here while accessing any area of our website. should you evade any of these conditions, your sole option is to straightaway move out from this web site. www.melcityfinance.com.au believes that all information contained in the website is correct and no warranty is assured for the accuracy or reliability of the information contained. we disclaim all liability and responsibility for any direct or indirect loss or damage which may be experienced by any recipient by relying on the information contained in or omitted from our web site.</p>
    <p>By accessing, viewing or otherwise using any of our websites, you acknowledge and agree to be subject to these Terms and Conditions of Use, our Privacy Policy and any other notices, disclaimers or terms and conditions contained on our websites, as amended or modified from time to time (together with the Terms and Conditions of Use). If you do not accept our Terms and Conditions of Use you are not authorised to use our websites. These are our current Terms and Conditions of Use and they replace any others which have appeared previously on any of our websites. We may at any time vary these Terms and Conditions of Use by publishing the new version on our websites. By accessing any of our websites you are deemed to accept the current Terms and Conditions of Use displayed. We reserve any and all rights not expressly granted in these Terms and Conditions of Use.</p>

    <h2>Calculators</h2>

    <p>Any calculators or information provided on our websites are provided for your convenience only and do not constitute either credit or financial advice. Information on our websites has been prepared without consideration of your particular circumstances and should be viewed as generic information only and not as indicating that you should follow a particular course of action.</p>

    <h2>Internet security risks</h2>

    <p>There may be security risks in sending information via the Internet.  You should assess these potential risks when deciding whether to use our online services.</p>

    <h2>Links to other websites</h2>

    <p>Our websites may contain links to other websites operated by third parties. We do not endorse or approve of the operators of any third-party websites, or the information, graphics and material featured on third party websites. To the extent permitted by law, we accept no responsibility or liability and give no warranty in any way in respect of third-party websites or the goods and services offered to you on any third-party websites. We may receive payments from operators or owners of third-party websites in relation to goods or services supplied to you by them as a result of you linking to their website from ours.</p>

    <h2>Links and Advertisements</h2>

    <p>The hyperlinks, advertisements and pointers to other websites published in this website do not form part of www.melcityfinance.com.au and that any information, data, opinions, advice, or statements contained within such websites are not under our control and responsibility. You are allowed to enter those websites entirely at your own risk.</p>

    <h2>Policy for Hyperlink</h2>

    <p>We have provided hyperlinks in our websites to help the users to get additional information or original source material, from the same site or from an external source. However, in using hyperlinks, we:</p>

    <p>Position the original source of the hyperlink where it points to third party content.</p>

    <p>Disclaim ownership or rights to the content belonging to other parties. </p>

    <p>Breach of our rights or the rights of our licensors or other third parties is completely illegal.</p>

    <p>We encourage direct links to our content complying with all copyright, trademark or other applicable laws. It is permitted to use the title or headline of the content to which you are linking, as long as you link directly to that content. We discourage attributing a link to www.melcityfinance.com.au content as being a link to your own or someone else’s content. Also, attributing a link to our site and then link somewhere else is not allowed. Our content should be framed in such a way as to present it as your own or as belonging to anyone other than us or our licensees.</p>

    <h2>Disclaimer</h2>

    <p>The materials contained in this website are provided without warranty of any kind. www.melcityfinance.com.au will not be liable for any damages arising out of the use of, or inability to use the website. We do not provide warranty to the accuracy or completeness of the information, text, graphics, links or other items on the website. www.melcityfinance.com.au may make changes to this website at any time without prior notice. Information within the website may contain technical inaccuracies or typographical errors. We reserve the right to make changes, corrections or improvements to the materials published on this website at any time, without notice.</p>

    <h2>Third-party software</h2>

    <p>Unless we tell you otherwise, any software you download from a third-party website is their product and not ours. We point that out because some products may be subject to a licence agreement between you and them. To the extent permitted by law, we accept no responsibility or liability in respect of such third-party products, provide no warranty, and give no endorsement in respect of such products or any party connected with them. We do, however, welcome your feedback or suggestions concerning them.</p>

    <h2>No warranty or guarantee</h2>

    <p>While we have tried hard to make sure there are no mistakes in any of the information on our websites, we do not warrant that we have verified the information and we do not warrant the accuracy, adequacy or completeness of it or that the information is suitable for your intended use. Further, all information is subject to change without notice.</p>

    <p>We recommend that you seek independent advice before acting upon any of the information on our websites.</p>

    <p>We do not guarantee that our websites are free from viruses, or that access to our sites will be uninterrupted.</p>

    <p>You acknowledge and agree that your use of our websites is at your own risk. You must ensure that that the process which you use for accessing our websites does not expose you to the risk of viruses or other forms of interference which may damage your own computer system.</p>

    <h2>Limitation of liability</h2>

    <p>Subject to any responsibilities which are implied by law and cannot be excluded, neither we nor any of our employees, agents or officers are liable to you for any losses, damages, liabilities, claims or expenses (including but not limited to legal costs and defence or settlement costs) whether direct or indirect, whatsoever arising out of or referable to information on our websites or your use of our websites or any modification, suspension or discontinuance of our websites – whether in contract, tort including negligence, statute or otherwise.</p>

    Our liability for a breach of a condition or warranty implied by law or otherwise, and which cannot be excluded, is limited to the extent possible, at our option, to:</p>

    <p>the resupply of the goods or services;</p>
    <p>the repair of the goods or services</p>
    <p>the payment of the cost of having the goods or services supplied again or repaired.</p>
    <p>Name & Logo</p>

    <p>The name Melcity is written in dark blue of letters on the background together with two orange up arrow, our trademarks protected by Australian and international intellectual property laws. The copying of any of these should strictly be avoided unless you receive proper authority. </p>

    <h2>Copyright and trademarks</h2>

    <p>The material on our websites is protected by copyright. Other than for the purposes and subject to the conditions prescribed under the Copyright Act 1968 (Cth), no part of it may in any form or by any means (electronic, mechanical, micro-copying, photocopying, recording, or otherwise) be reproduced, uploaded to a third party, linked to, framed, stored in a retrieval system or transmitted without our prior written permission.</p>

    <p>You also must not in any form or by any means commercialise any information, products or services obtained from our websites without our prior written permission. Our websites include registered trademarks owned by us (or our licensors). You must not use any of our trademarks in any way without our prior written consent.</p>

    <h2>Linking to our websites</h2>

    <p>You must not link to any of our websites without our prior written permission.</p>

    <p>Use by persons outside of Australia</p>

    <p>Our websites are provided for use by Australian residents only, and the products and services described in them are not directed at anyone in any country other than Australia. If you are not one of our customers and are accessing our websites from outside Australia, you must not submit or attempt to submit an online application or request. Online applications and requests for products initiated outside of Australia will not be accepted from anyone who is not an existing customer.</p>

    <p>The information contained in our websites has been prepared in accordance with the laws applicable to the Commonwealth of Australia.</p>

    <h2>Jurisdiction</h2>

    <p>www.melcityfinance.com.au reserves the right to take whatever legal action necessary for the security of this website and the intellectual property rights of the information. Such actions will be initiated for the breach of the Copyright Act 1968 (Cth), Trade Marks Act 1995 (Cth), Trade Practices Act 1974 (Cth) and the Privacy Act 1988 (Cth), breach of contract and any obligation of privacy. All our legal notices and your use of this web site will be governed by and interpreted in accordance with the laws of Victoria, Australia. While using our website you are completely and permanently submitting to the jurisdiction of the courts of that State. Any misuse of our information without our consent will be liable for prosecution.</p>
    </div>
</section>
 {% endblock %}