/*-- -------------------------- -->
<---           Blog             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #blog-846 {
      padding: var(--sectionPadding);

      .cs-container {
          width: 100%;
          /* changes to 1280px at tablet */
          max-width: (550/16rem);
          margin: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          /* 48px - 64px */
          gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-content {
          /* set text align to left if content needs to be left aligned */
          text-align: center;
          width: 100%;
          display: flex;
          flex-direction: column;
          /* centers content horizontally, set to flex-start to left align */
          align-items: center;
      }

      .cs-title {
          margin: 0;
      }

      .cs-card-group {
          width: 100%;
          margin: 0;
          padding: 0;
          display: grid;
          grid-template-columns: repeat(12, 1fr);
          /* 16px - 20px */
          gap: clamp(1rem, 2vw, 1.25rem);
      }

      .cs-item {
          list-style: none;
          width: 100%;
          border-radius: (24/16rem) 0 (24/16rem) 0;
          /* clips the img corners */
          overflow: hidden;
          background-color: #fff;
          box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.04);
          grid-column: span 12;
          position: relative;
          z-index: 1;
          &:hover {
              .cs-picture {
                  img {
                      transform: scale(1.1);
                  }
              }
          }
      }

      .cs-picture {
          width: 100%;
          /* 180px - 290px */
          height: clamp(11.25rem, 50vw, 18.125rem);
          /* prevents image from overflowing parent when it scales on hover */
          overflow: hidden;
          display: block;
          position: relative;

          img {
              width: 100%;
              height: 100%;
              /* makes it act like a background image */
              object-fit: cover;
              display: block;
              transition: transform 0.6s;
          }
      }

      .cs-item-content {
          /* 24px - 40px top and bottom */
          /* 20px - 24px left & right */
          padding: clamp(1.5rem, 5vw, 2.5rem) clamp(1rem, 3vw, 1.25rem);
          position: relative;
          z-index: 10;
      }

      .cs-date {
          font-size: (16/16rem);
          line-height: 1.2em;
          font-weight: 700;
          margin: 0 0 (20/16rem) 0;
          color: #767676;
          display: block;
      }

      .cs-h3 {
          font-size: (20/16rem);
          line-height: 1.2em;
          font-weight: 700;
          margin: 0 0 (12/16rem) 0;
          color: var(--headerColor);
          display: block;
      }

      .cs-item-text {
          font-size: (16/16rem);
          line-height: 1.5em;
          margin: 0 0 (20/16rem) 0;
          color: var(--bodyTextColor);
          display: block;
      }

      .cs-link {
          font-size: (16/16rem);
          line-height: 1.2em;
          font-weight: bold;
          text-decoration: none;
          margin: 0;
          color: var(--primary);
          display: inline-flex;
          justify-content: flex-start;
          align-items: center;
          &:hover {
              .cs-icon {
                  transform: translateX(0.625rem);
              }
          }
      }

      .cs-icon {
          width: (20/16rem);
          height: auto;
          display: block;
          transition: transform 0.3s;
      }

      .cs-button-solid {
          font-size: (16/16rem);
          /* 46px - 56px */
          line-height: clamp(2.875rem, 5.5vw, 3.5rem);
          text-decoration: none;
          font-weight: 700;
          text-align: center;
          margin: 0;
          color: #fff;
          min-width: (150/16rem);
          padding: 0 (24/16rem);
          background-color: var(--primary);
          border-radius: (4/16rem);
          display: inline-block;
          position: relative;
          z-index: 1;
          /* prevents padding from adding to the width */
          box-sizing: border-box;

          &:before {
              content: "";
              position: absolute;
              height: 100%;
              width: 0%;
              background: #000;
              opacity: 1;
              top: 0;
              left: 0;
              z-index: -1;
              border-radius: (4/16rem);
              transition: width 0.3s;
          }

          &:hover {
              &:before {
                  width: 100%;
              }
          }
      }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #blog-846 {
      .cs-container {
          max-width: (1280/16rem);
      }

      .cs-item {
          grid-column: span 6;
      }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #blog-846 {
      .cs-item {
          grid-column: span 3;
      }
  }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #blog-846 {
      .cs-item {
          display: flex;
          flex-direction: column;
          grid-column: span 3;

          &:nth-of-type(even) {
              .cs-picture {
                  order: 2;
              }
          }
      }
  }
}

                              