/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-468 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #services-468 .cs-container {
    width: 100%;
    /* changes to 1440px at tablet */
    max-width: 34.375em;
    margin: auto;
  }
  #services-468 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    padding: var(--sectionPadding);
  }
  #services-468 .cs-card-group {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    /* 8px - 20px */
    column-gap: clamp(0.5rem, 1.5vw, 1.25rem);
    row-gap: 1.25rem;
    padding: 10px;
  }
  #services-468 .cs-item {
    width: 48.5%;
    list-style: none;
    /* 24px - 48px top and bottom */
    padding: clamp(1.5rem, 4vw, 3rem) 1.5rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    border-radius: 0.75rem;
    background-color: #fff;
    border: 1px solid #b4b2c7;
    box-shadow: 0px 24px 54px rgba(87, 107, 147, 0.12);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 12px - 24px */
    gap: clamp(0.875rem, 2vw, 2rem);
    position: relative;
    transition: border-color 0.3s;
  }
  #services-468 .cs-item:before {
    /* green border on hover */
    content: "";
    width: 100%;
    height: 100%;
    background: transparent;
    /* prevents mouse from interacting with it */
    pointer-events: none;
    border: 4px solid var(--primaryLight);
    box-sizing: border-box;
    /* prevents border from affecting height and width */
    border-radius: 0.625rem;
    opacity: 0;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
  }
  #services-468 .cs-item:hover {
    border-color: var(--primaryLight);
  }
  #services-468 .cs-item:hover:before {
    opacity: 1;
  }
  #services-468 .cs-item:nth-of-type(5) {
    width: 100%;
  }
  #services-468 .cs-icon {
    /* 44px - 90px */
    width: clamp(2.75rem, 6vw, 5.625rem);
    height: auto;
  }
  #services-468 .cs-h3 {
    /* 16px - 25px */
    font-size: clamp(1rem, 2vw, 1.5625rem);
    line-height: 1.2em;
    text-align: center;
    margin: 0;
    color: var(--headerColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-468 .cs-container {
    max-width: 90rem;
  }
  #services-468 .cs-card-group {
    flex-wrap: nowrap;
    flex-direction: row;
  }
  #services-468 .cs-item {
    width: 100%;
  }
}
