#terms {
  padding: var(--sectionPadding);
}
#terms body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
#terms .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#terms h1,
#terms h2 {
  color: #333;
  border-bottom: 2px solid #555;
  padding-bottom: 10px;
}
#terms a {
  color: #007bff;
  text-decoration: none;
}
#terms a:hover {
  text-decoration: underline;
}
#terms p {
  margin: 10px 0;
}
#terms ol {
  padding: 20px;
}
#terms ul {
  padding: 20px;
}
#terms ol li {
  padding: 5px;
  margin-left: 35px;
}
#terms ul li {
  margin: 5px;
}
