---
title: 'Borrow Power Calculator'
description: 'Top 10 Melbourne mortgage broker borrow power calculator to estimate how much you can borrow'
preloadImg: '/assets/images/imagename.format'
permalink: 'calculators/borrow-power/'
eleventyNavigation:
    key: Borrow Power Calculator
    parent: Calculators
    order: 700
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q0CGQ3BN9Q"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-Q0CGQ3BN9Q');
    </script>
    <link rel="stylesheet" href="/assets/css/calc_style.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">Borrow Power Calculator</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Fpills.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Fpills.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Fpills.jpg" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                Calculators                   -->
<!-- ============================================ -->
                                
<section id="services-3099">
    <div class="cs-container">
        <iframe class="VisiCalcClass" id="Borrowing_Power_Calculator" src="https://www.visionabacus.net/Tools/B3/SuiteA/Z200/MFAA/Borrowing_Power_Calculator/BlueGrey" frameborder="0" scrolling="no"></iframe>
    </div>
</section>

{% include 'components/cta.html' %}
{% endblock %}