/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    #sbs {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: (40/16rem);
        }

        .cs-left {
            /* scaling the font size with the view width */
            font-size: ~"min(2.31vw, 0.7em)";
            /* using ems so we can use font size to scale the whole section */
            width: (631/16em);
            height: (636/16em);
            position: relative;
        }

        .cs-picture {
            border-radius: (24/16em);
            display: block;
            position: absolute;
            /* clips img tag corners */
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                /* makes image act like a background image */
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: (522/16em);
            height: (581/16em);
            top: 0;
            left: 0;
        }

        .cs-picture2 {
            width: (414/16em);
            height: (400/16em);
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
            /* 6px - 12px */
            border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
            right: 0;
            bottom: 0;
        }

        .cs-right {
            max-width: (542/16rem);
            margin: auto;
        }

        .cs-topper {
            text-align: left;
            margin-bottom: (4/16rem);
        }

        .cs-title {
            text-align: left;
            max-width: (800/16rem);
        }

        .cs-text {
            text-align: left;
            max-width: (750/16rem);
            margin-bottom: (16/16rem);
            color: var(--bodyTextColor);

            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-flex-group {
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
            background-color: #f7f7f7;
            border-radius: (16/16rem);
            position: relative;
        }

        .cs-flex-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 (16/16rem);
            color: #353535;
        }

        .cs-name {
            font-size: (16/16rem);
            font-weight: bold;
            line-height: 1.2em;
            text-transform: uppercase;
            margin: 0 0 (4/16rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            font-size: (14/16rem);
            line-height: 1.5em;
            color: #353535;
            display: block;
        }

        .cs-quote-icon {
            /* 60px - 136px */
            width: clamp(3.75rem, 10vw, 8.5rem);
            height: auto;
            position: absolute;
            /* 16px - 32px */
            right: clamp(1rem, 4vw, 2rem);
            bottom: (0/16rem);
        }

        .cs-button-solid {
            margin-top: (32/16rem);
            background-color: #ffba43;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
    #sbs {
        .cs-container {
            flex-flow: row;
            justify-content: space-between;
            gap: (52/16rem);
        }

        .cs-left {
            font-size: ~"min(1.2vw, 1em)";
            flex: none;
        }

        .cs-right {
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
    body.dark-mode {
        #sbs {
            .cs-left {
                &:before,
                &:after {
                    background: var(--accent);
                }
            }

            .cs-picture2 {
                background-color: var(--dark);
                /* 6px - 12px */
                border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
            }

            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-flex-p,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-flex-group {
                background-color: var(--accent);
            }

            .cs-job {
                color: var(--bodyTextColorWhite);
                opacity: 0.8;
            }

            .cs-quote-icon {
                opacity: 0.2;
            }
        }
    }
}

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-341 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;
        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 1.6vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: (500/16rem);
            border-radius: (8/16rem);
            position: relative;
            z-index: 1;
            transition:
                box-shadow 0.3s,
                transform 0.3s;

            &:hover {
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                transform: translateY(-0.4375rem);
                .cs-picture {
                    img {
                        opacity: 0.3;
                        transform: scale(1.1);
                    }
                }
                .cs-h3 {
                    color: var(--primaryLight);
                }
            }

            &:before {
                /* border, done in pseudo so it can sit under the picture */
                content: "";
                width: 100%;
                height: 100%;
                border-radius: (8/16rem);
                border: 1px solid #e8e8e8;
                /* prevents border from affecting height and width */
                box-sizing: border-box;
                background: transparent;
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-link {
            text-decoration: none;
            /* 16px - 24px */
            padding-bottom: clamp(1rem, 2.2vw, 1.5rem);
            display: block;
        }

        .cs-picture {
            width: 100%;
            height: (240/16rem);
            /* 16px - 24px */
            margin-bottom: clamp(1rem, 2.2vw, 1.5rem);
            border-radius: (8/16rem) (8/16rem) 0 0;
            background-color: var(--primaryLight);
            /* clips the img tag corners */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 10;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition:
                    transform 0.6s,
                    opacity 0.3s;
            }
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 3vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            color: var(--headerColor);
            margin: 0 0 (12/16rem) 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2vw, 1.5rem);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px  */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            color: var(--bodyTextColor);
            margin: 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2.2vw, 1.5rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-341 {
        .cs-card-group {
            flex-direction: row;
        }
    }
}

                

/*-- ============================================ -->
<!--                   Slidingshow 1              -->
<!-- ============================================ -*/
@media only screen and (min-width: 0rem){
    #test{
        padding: var(--sectionPadding);
    }
    #test .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

    #test .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }
    #test  .cs-topper {
            text-align: left;
            margin-bottom: (4/16rem);
        }

    #test  .cs-title {
            text-align: left;
            max-width: (800/16rem);
            padding-bottom: 80px;
        }

    #test .cs-text {
            text-align: left;
            max-width: (750/16rem);
            margin-bottom: (16/16rem);
            color: var(--bodyTextColor);

            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }
    
    #test {
        .carousel {
            position: relative;
        }
        .container-fluid {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }
    }
    * {
        box-sizing: border-box;
    }
    : {
        &:after {
            box-sizing: border-box;
        }
        &:before {
            box-sizing: border-box;
        }
    }
    div {
        display: block;
        unicode-bidi: isolate;
    }
    @color_1: -webkit-link;
    @color_2: #fff;
    @background_color_1: #fff;
    @border_color_1: #ddd;

    a {
        &:-webkit-any-link {
            color: @color_1;
            cursor: pointer;
            text-decoration: underline;
        }
    }
    #test {
        .ml-auto { margin-left: auto !important;
    }
    } 
    
        .mx-auto {
            margin-left: auto !important;
            margin-right: auto !important;
        }
        .carousel-item-next {
            display: block;
        }
        .row {
            &: after { display: table;
            content: "";
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }
        }
        .carousel-inner {
            >.carousel-item { position: relative;
            display: none;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 100%;
            transition: -webkit-transform .6s ease;
            transition: transform .6s ease;
            transition: transform .6s ease, -webkit-transform .6s ease;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-perspective: 1000px;
            perspective: 1000px;
        }
    }
    .mr-auto {
        margin-right: auto !important;
    }
    .w-100 {
        width: 100% !important;
    }
    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        >.active { left: 0px;
        position: relative;
        width: 100%;
        overflow: hidden;
        >.active {
            left: 0;}
        }
    }
    .carousel-item-prev {
        display: block;
    }
    .carousel-item.active {
        display: block;
    }
    .container-fluid {
        &: after { display: table;
        content: "";
        &::after {
            clear: both;
        }
    }
    & {
        &:before {
            display: table;
            content: "";
            display: table;
            content: "";
        }
    }
    .carousel-item {
        position: relative;
        display: none;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        transition: -webkit-transform .6s ease;
        transition: transform .6s ease;
        transition: transform .6s ease, -webkit-transform .6s ease;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }
    .col-md-3 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .panel-default {
        border-color: @border_color_1;
    }
    .panel {
        margin-bottom: 20px;
        background-color: @background_color_1;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }
    .d-block {
        display: block !important;
    }
    .img-fluid {
        max-width: 100%;
        height: auto;
    }
    img {
        border: 0;
    }
    .carousel-control-prev {
        left: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 15%;
        color: @color_2;
        text-align: center;
        opacity: .5;
    }
    .row {
        &::after {
            clear: both;
        }
    }
    .carousel-control-next {
        position: absolute;
        top: 0;
        bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 15%;
        color: @color_2;
        text-align: center;
        opacity: .5;
        right: 0;
    }
    [role=button] {
        cursor: pointer;
    }
    .carousel-control-prev-icon {
        background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E);
        display: inline-block;
        width: 20px;
        height: 20px;
        background: transparent no-repeat center center;
        background-size: 100% 100%;
    }
    .carousel-control-next-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: transparent no-repeat center center;
        background-size: 100% 100%;
        background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E);
        display: inline-block;
        width: 20px;
        height: 20px;
        background: transparent no-repeat center center;
        background-size: 100% 100%;
    }
    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        -webkit-clip-path: inset(50%);
        clip-path: inset(50%);
        border: 0;

    }

        /* show 3 items */
        .carousel-inner .active,
        .carousel-inner .active + .carousel-item,
        .carousel-inner .active + .carousel-item + .carousel-item,
        .carousel-inner .active + .carousel-item + .carousel-item,
        .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
            display: block;
        }
    
        .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
        .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
        .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
        .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
            transition: none;
        }
    
        .carousel-inner .carousel-item-next,
        .carousel-inner .carousel-item-prev {
            position: relative;
            transform: translate3d(0, 0, 0);
        }
    
        .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: absolute;
            top: 0;
            right: -25%;
            z-index: -1;
            display: block;
            visibility: visible;
        }
    
        /* left or forward direction */
        .active.carousel-item-left + .carousel-item-next.carousel-item-left,
        .carousel-item-next.carousel-item-left + .carousel-item,
        .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
        .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
        .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(-100%, 0, 0);
            visibility: visible;
        }
        
        /* farthest right hidden item must be abso position for animations */
        .carousel-inner .carousel-item-prev.carousel-item-right {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            display: block;
            visibility: visible;
        }
    
        /* right or prev direction */
        .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
        .carousel-item-prev.carousel-item-right + .carousel-item,
        .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
        .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
        .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(100%, 0, 0);
            visibility: visible;
            display: block;
            visibility: visible;
        }
    }

 /* Bootstrap Lightbox using Modal */

#profile-grid { overflow: auto; white-space: normal; } 
#profile-grid .profile { 
    padding-bottom: 40px; }
#profile-grid .panel { padding: 0 }
#profile-grid .panel-body { padding: 15px }
#profile-grid .profile-name { font-weight: bold; }
#profile-grid .thumbnail {margin-bottom:6px;}
#profile-grid .panel-thumbnail { overflow: hidden; }
#profile-grid .img-rounded { border-radius: 4px 4px 0 0;}
                         