---
title: 'Mortgage Broker'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1785">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Welcome to</span>
            <h1 class="cs-title">Melcity Finance</h1>
            <p class="cs-text">
             Exprienced Melbourne-based brokerage firm
            </p>
            <div class="cs-button-group">
                <a href="/about" class="cs-button-solid cs-button1">Read More</a>
            </div>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/landing.jpg" alt="new home" width="2500" height="1667" loading="eager">
    </picture>

</section>
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1081">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Services</span>
            <h2 class="cs-title">Expert Mortage broker Service In Melbourne</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/home_loan.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/home_loan.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/home_loan.jpg" alt="mechanic" width="413" height="240" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/house.svg" alt="icon" width="32" height="32" aria-hidden="true">
                    Home Loan
                </h3>
                <p class="cs-item-text">
                    If you're looking to buy your first house, invest in property, or refinance your home loan
                </p>
                <a href="/home_loan" class="cs-link">
                    Read More
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow.svg" alt="icon" width="20" height="20" aria-hidden="true">
                </a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/com_loan.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/com_loan.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/com_loan.jpg" alt="mechanic" width="413" height="240" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/shop.svg" alt="icon" width="32" height="32" aria-hidden="true">
                    Commercial Loan
                </h3>
                <p class="cs-item-text">
                    If you are looking to open a new business, expand your company or refiance your business loan
                </p>
                <a href="/commercial_loan" class="cs-link">
                    Read More
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow.svg" alt="icon" width="20" height="20" aria-hidden="true">
                </a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/personal_loan.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/personal_loan.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/personal_loan.jpg" alt="mechanic" width="413" height="240" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/car.svg" alt="icon" width="32" height="32" aria-hidden="true">
                    Personal Loan
                </h3>
                <p class="cs-item-text">
                    If your encounter an emergency event, would like to make a major purchases or achieve a milestone
                </p>
                <a href="/personal_loan" class="cs-link">
                    Read More
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow.svg" alt="icon" width="20" height="20" aria-hidden="true">
                </a>
            </li>
        </ul>
    </div>
</section>  

<!-- ============================================ -->
<!--            Side By Side Reverse              -->
<!-- ============================================ -->

<section id="sbsr-92">
    <div class="cs-container">
        <!-- Left Image Section -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/first_home.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/first_home.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/first_home.jpg" alt="city" width="347" height="604" aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">Why Choose Us</h2>
            <p class="cs-text">
            We are predominately a referral business, in fact majority of our business is from repeat clients or referrals from our clients. We know how important our clients are, and fully understand the value that our clients can bring to us. We really do care about our clients. We are here to help guide you through the loan and buying processes. 
            </p>
            <a class="cs-button-solid" aria-label="read more about our services" href="/about">Read More</a>
        </div>
    </div>
</section>
                                
                                
    {% include 'components/cta.html' %}
{% endblock %}